@font-face {
    font-family: 'LaBouf-Oblique';
    src:url('../fonts/LaBouf-Oblique.ttf.woff') format('woff'),
        url('../fonts/LaBouf-Oblique.ttf.svg#LaBouf-Oblique') format('svg'),
        url('../fonts/LaBouf-Oblique.ttf.eot'),
        url('../fonts/LaBouf-Oblique.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
  
body {

}

#title, #titlecaption {
    font-family: 'LaBouf-Oblique';
    text-align: center;
}
  
header {
      background-image: url(../images/2007ferrarif1.jpeg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      padding: 1.5rem;
      -webkit-text-stroke: 0.5px black;
      font-size: 1rem;
  }

  main {
display:block;
padding:10px;
  }

  #tribute-info, #p1, #p2 {
      float:left;
      width:65%;
      text-align:justify; 
      background-color:#C00000;
      color: #ffffff;
      padding:1rem;
      margin-bottom: 10px;
      border-radius: 5px;    
  }

#image {
    float:right;
    width: 25%;
    height:auto;
    margin:auto;
    border:2px solid white;
    border-radius: 10%;
    position:relative;
    bottom:300px;
  }
  
 #img-caption {
     float:right;
 } 

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background-color:#C00000;
    color:white;
    text-align: center;
    padding:1rem;
}
#flex-container {}